{% extends 'base.html' %}
{% load static %}

{% block details %}
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="{% static './js/main.js' %}" async defer></script>
    <script>
        const page = {{ page_id }}
    </script>
{% endblock %}

{% block content %}

    <h2>{{ characters_data.file_name }}</h2>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">name</th>
            <th scope="col">height</th>
            <th scope="col">mass</th>
            <th scope="col">hair_color</th>
            <th scope="col">skin_color</th>
            <th scope="col">eye_color</th>
            <th scope="col">birth_year</th>
            <th scope="col">gender</th>
            <th scope="col">homeworld</th>
            <th scope="col">date</th>
        </tr>
        </thead>
        <tbody id="char-box">


        </tbody>
    </table>
    <div id="loading-box">
        <button class="btn btn-primary" id="load-btn">Load more</button>
    </div>

{% endblock %}