{% extends 'base.html' %}
{% load static %}

{% block details %}
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="{% static './js/filter.js' %}" async></script>

    <script>
        const page = {{ page_id }}
    </script>
{% endblock %}


{% block content %}

    <h2>{{ characters_data.file_name }}</h2>
    <div id="loading-box">
        <button class="btn btn-primary" id="name-btn">name</button>
        <button class="btn btn-primary" id="height-btn">height</button>
        <button class="btn btn-primary" id="mass-btn">mass</button>
        <button class="btn btn-primary" id="hair_color-btn">hair_color</button>
        <button class="btn btn-primary" id="skin_color-btn">skin_color</button>
        <button class="btn btn-primary" id="eye_color-btn">eye_color</button>
        <button class="btn btn-primary" id="birth_year-btn">birth_year</button>
        <button class="btn btn-primary" id="gender-btn">gender</button>
        <button class="btn btn-primary" id="homeworld-btn">homeworld</button>
        <button class="btn btn-primary" id="date-btn">date</button>


    </div>
     <table class="table">
        <thead>
        <tr>
            <th scope="col" id="name_col">name</th>
            <th scope="col" id="height_col">height</th>
            <th scope="col" id="mass_col">mass</th>
            <th scope="col" id="hair_color_col">hair_color</th>
            <th scope="col" id="skin_color_col">skin_color</th>
            <th scope="col" id="eye_color_col">eye_color</th>
            <th scope="col" id="birth_year_col">birth_year</th>
            <th scope="col" id="gender_col">gender</th>
            <th scope="col" id="homeworld_col">homeworld</th>
            <th scope="col" id="date_col">date</th>
        </tr>
        </thead>
        <tbody>
        {% for character in collection %}
            <tr>
                <td id="name_col_data">{{ character.name }}</td>
                <td id="height_col_data">{{ character.height }}</td>
                <td id="mass_data">{{ character.mass }}</td>
                <td id="hair_color_data">{{ character.hair_color }}</td>
                <td id="skin_color_data">{{ character.skin_color }}</td>
                <td id="eye_color_data">{{ character.eye_color }}</td>
                <td id="birth_year_data">{{ character.birth_year }}</td>
                <td id="gender_data">{{ character.gender }}</td>
                <td id="homeworld_data">{{ character.homeworld }}</td>
                <td id="date_data">{{ character.date }}</td>
            </tr>
        {% empty %}
            <p>List is empty</p>
        {% endfor %}

        </tbody>
    </table>


{% endblock %}
